<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
    <h1>Created tacos</h1>
    <img th:src="@{/images/TacoCloud.png}"/>

    <h3>Tacos:</h3>
    <div th:each="taco : ${tacos}" id="taco">
        <span th:text="${taco.name}">ingredients</span><br/>
        <div th:each="ingredient : ${taco.ingredients}" id="ingredients">
            <span style="margin-left: 50px;" th:text="${ingredient.name}">ingredients</span><br/>
        </div>
    </div>

</body>
</html>